.main-container{
    height:100vh;
    background:#2F302F;
    margin:0px;
}

.main-text{
    font-size: 85px;
}

.subText{
    font-size: 25px;
}

.text{
    color: #FFFCFC;
}

.searchBar{
    padding: 0px 200px;
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}