* {
    margin:0;
    padding:0;
}

.main-container {
    height:50vh;
}

.twitter-img{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px)
}


.card-text{
    color:#2F302F;
    font-family: helvetica;
}

.card-text-top{
    font-size: 45px;
    font-weight: bold;
    margin-top:15px;
}

.card-text-btm{
    font-size:25px;
    font-weight: lighter;
    position:relative;
    margin-top: 85px;
}