.footer-container hr{
    border: none;
    width: 90%;
    height: 1.5px;
    background-color: rgb(160, 160, 160);
}

.footer-container p{
    color: rgb(160, 160, 160);
    margin-top: 1.1rem;
    text-align: center;
    font-size: 10px;
}